.label-container {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    overflow: clip;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}

.label-subtext {
    color: black;
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.numeric-field {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.numeric-field label {
    width: 120px;
    font-size: 14px;
    margin-right: 5px;
}

.numeric-field input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}