main {
    min-height: 100vh;
    background-color: var(--bg-darker);
    color: var(--text-primary);
    padding: 1rem;
}

::selection {
    background-color: var(--primary-color);
    color: white;
} 